* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar-links {
transition: 0.7s;
background-color: red;
border: 10px solid rgb(39, 236, 13);
display: flex;
padding: 20px;
padding-left: 30px;
padding-right: 30px;
text-decoration: none;
justify-content: space-between;
}

.pageHeader {
    text-align: center;
    font-size: 100px;
}

.card {
    width: 50%;
    border: 1px solid black;
    text-align: center;

}

.card > img {
    display:block;
    margin: 0 auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-model {
    font-size: 50px;
}
