* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar-links {
transition: 0.7s;
background-color: black;
border: 10px solid gray;
display: flex;
padding: 10px;
padding-left: 30px;
padding-right: 30px;
text-decoration: none;
justify-content: space-between;
}

.navbar-links a{
  margin-left: 20px;
  color:gray;
  text-decoration: none;
  padding-right: 30px;
  font-size: 30px;
}

.navbar-links a:hover {
    color: white;
    transition: 0.5s;
  }
  

.pageHeader {
    text-align: center;
    font-size: 80px;
}

.reviewHeader {
    text-align: center;
    font-size: 40px;
}

a.reviewCard {
    text-decoration: none;
    font-size: 30px;
    color:black;
}


a.reviewCard:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


.profileCardReviewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40vh;
    margin: 0 auto;
    align-items: center;
}

a.card {
    text-decoration: none;
    color:black;
    transition: 0.3s;
}


a.card:hover {
    opacity: 0.3;
    text-decoration: none;
    color:black;
}


.card {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(220, 221, 221);

}

.big-image {
    align-items: center;
    margin: 0 auto;
    width: 40vw;
}

.cardReviewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    margin: 0 auto;
}

.card > img {
    display:block;
    margin: 0 auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-model {
    font-size: 50px;
}


.cardReviewContainer a {
text-decoration: none;
}