* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.review-card {
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    padding:20px;
    width: 30%;
    border: 10px solid gray;        
    background-color: black;
}

#review-post-area {
    width: 80%;
    font-size: 20px;
}

#score-label {
    color: white;
    font-size: 24px;
}

.review-post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

body {
    background: url(https://images.unsplash.com/photo-1490971269589-386b2934c495?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2041&q=80) no-repeat center fixed;
}


.signup-header {
    text-align: center;
    color: gray;
}

.model-title {
    text-align: center;
}

#models-page {
    text-decoration: none;
    text-align: center;
    color: gray;
    background-color: black;
    border-radius: 15px;
}

#models-page:hover {
    transition: 0.3s;
    color: white;
}

.login-card {
    margin-left: auto;
    margin-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    padding:20px;
    width: 70vh;
    border: 10px solid gray;        
    background-color: black;
}

#login {
    text-align: center;
}

#login-email {
    text-align: center;
    font-size: 20px;
    width: 35%;
    border-radius: 25px;
}

#login-password {
    text-align: center;
    font-size: 20px;
    width: 35%;
    border-radius: 25px;
}

.submit-button-a {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 20%;
    background-color: gray;
}

.submit-button-a:hover {
    color: white;
    transition: 0.5s;
}

#signup {
    text-align: center;
}

#signup-email {
    text-align: center;
    font-size: 20px;
    width: 25%;
    border-radius: 25px;
}

#signup-username {
    text-align: center;
    font-size: 20px;
    width: 25%;
    border-radius: 25px;
}

#signup-password {
    text-align: center;
    font-size: 20px;
    width: 25%;
    border-radius: 25px;
}

.submit-button-b {
    font-size: 20px;
    border-radius: 10px;
    width: 20%;
    background-color: gray;
    font-weight: bold;
}

.submit-button-b:hover {
    color: white;
    transition: 0.5s;
}

.navbar-links {
transition: 0.7s;
background-color: black;
border: 10px solid gray;
display: flex;
padding: 10px;
padding-left: 30px;
padding-right: 30px;
text-decoration: none;
justify-content: space-between;
}

.navbar-links a{
  margin-left: 20px;
  color:gray;
  text-decoration: none;
  padding-right: 30px;
  font-size: 30px;
}

.navbar-links a:hover {
    color: white;
    transition: 0.5s;
  }
  

.pageHeader {
    text-align: center;
    font-size: 80px;
}

.reviewHeader {
    text-align: center;
    font-size: 40px;
}

a.reviewCard {
    text-decoration: none;
    font-size: 30px;
    color:black;
}


a.reviewCard:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


.reviewCardImage{
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    margin: 0 auto;
    align-items: center;
}



.profileCardReviewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40vh;
    margin: 0 auto;
    align-items: center;
}

a.card {
    text-decoration: none;
    color:black;
    transition: 0.3s;
}


a.card:hover {
    opacity: 0.3;
    text-decoration: none;
    color:black;
}


.card {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(220, 221, 221);

}

.big-image {
    align-items: center;
    margin: 0 auto;
    width: 40vw;
}

.cardReviewContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    margin: 0 auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-model {
    font-size: 50px;
}


.cardReviewContainer a {
text-decoration: none;
}