<h2 class="model-title"><a href="https://www.gopro.com" target="_blank" class="pageHeader" id="models-page">GOPRO</a></h2>

<div class="cardContainer">
  {{#each models}}
  <a class="card" href="/models/{{id}}">
    <h2 class="card-model">{{model}}</h2>
    <img src="{{image}}" alt="{{model}}" height="50%" width="50%">
</a>
  {{/each}}

</div>