<h1 class="pageHeader">GOPRO MODELS</h1>

<div class="cardContainer">
  {{#each models}}

  <div class="card">
    <h2 class="card-model">{{model}}</h2>
    <img src="{{image}}" alt="{{model}}" height="50%" width="50%">
  </div>

  {{/each}}

</div>